<% if @results.present? %>
  <table style="width: 50%">
      <tr>
        <th>Day</th>
        <th>Number of
        <%= "#{@device_status} #{@device_type}s from #{@results.keys.first.strftime("%b %d, %Y")}
            to #{@results.keys.last.strftime("%b %d, %Y")}" %>
        </th>
      </tr>
      <% @results.each do |date, count| %>
        <tr>
          <td><%= date %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
  </table>
<% end %>
<br>
<%= link_to "< Back", view_2_path %>
